nav
{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #053C5E;
}

#menu, #menu ul
{
    padding:0;
    margin: 20px;;
    list-style:none;
    text-align:center;
}

#menu li
{
    display:inline-block;
    position:relative;
    background-color: #053C5E;
}

#menu ul li
{
    display:inherit;
}


#menu ul
{
    position:absolute;
    z-index: 2;
    max-height:0;
    left: 0;
    right: 0;
    overflow:hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
}

#menu li:hover ul
{
    max-height:15em;
}

#ul_form
{
    width: 200px;
}

#li_form
{
    padding: 15px;
}

#li_form form 
{
    display: flex;
    flex-direction: column;
}

#valid_button
{
    background-color: #053C5E;
    color:#EFE7DA
}

#valid_button:hover{
    color:#E55812;
}

#menu a
{
    text-decoration:none;
    display:block;
    padding:0 40px;
    color: #EFE7DA;
}

#menu ul a
{
    padding:8px 0;
}


#menu li:hover li a, #menu li ul li form label
{
    color:#EFE7DA;    
    text-transform:inherit;
}

#menu li:hover a, #menu li li:hover a
{
    color:#E55812;
}
