/*GENERAL*/
html, body
{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #BFBFBF;
}

#logo
{
    position: absolute;
    left: 5%;
    top: 10px;
    background-color: #BFBFBF;
    padding: 2px;
    border-radius: 50%;
    border: solid 3px #053C5E;
    box-shadow: 4px -4px 5px 2px rgba(0, 0, 0, .3);
    
}


#title_box
{
    background-color: #BFBFBF;
    box-shadow: 4px -4px 5px 2px rgba(0, 0, 0, .3);
    border: solid 3px #053C5E;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}



h1
{
    font-size: 2vw;
    color: #053C5E;
    margin: auto;
    
}

h2
{
    font-style: italic;
    font-size: 1.5vw;
    color: #2E86AB;
    margin: auto;
}

#intro
{
    width: 80%;
    text-align: center;
    color: #053C5E;
    background-color: #EFE7DA;
    box-shadow: 4px -4px 5px 2px rgba(0, 0, 0, .3);
    border: solid 3px #053C5E;
    margin: auto;
    margin-bottom: 20px;
    line-height: 1.5vw;
    padding-right: 5px;
    padding-left: 5px;
}

#text_center
{
    background-color: #EFE7DA;
    box-shadow: 4px -4px 5px 2px rgba(0, 0, 0, .3);
    border: solid 3px #053C5E;
    width: 20%;
    margin: auto;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
    color: #053C5E;
    text-transform: uppercase;
}

#text_center:hover
{
    background-color: #053C5E;
    color: #E55812;
}

h3
{
    background-color:#053C5E;
    color:#EFE7DA;
    font-size:1vw;
    margin: 0;
    text-align: center;
}

h3:hover
{
    color:#E55812;
}

h4
{
    background-color:#053C5E;
    color:#EFE7DA;
    font-size:1vw;
    margin-top: 0;
    margin-bottom:0;
    text-align: center;
}

h4:hover
{
    color:#E55812;
}

em
{
    font-size: 0.7vw;
}

a
{
    text-decoration: none;
    color: #053C5E;
}

footer
{
    height: 100px;
    text-align: center;
    background-color: #053C5E;
    color: #EFE7DA;
}

/*HOME*/
#header
{
    background-image: url(../images/home.jpg);
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 57px;
    margin-bottom: 20px;
    
}

.chapters_container
{
    width:80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.chapter
{
    background-color:#EFE7DA;
    border: solid 3px #053C5E;
    margin-bottom: 20px;
    overflow:visible;
    box-shadow: 4px -4px 5px 2px rgba(0, 0, 0, .3);
    
}

.image_text
{
    
}

.image_text img
{
    max-width: 20%;
    float: left;
    margin-right: 5px;
}

.chapter p
{
    padding-right: 5px;
    padding-left: 5px;
    margin: 0;
    text-align: justify;
    font-family: 'Libre Baskerville', serif;
}

/*CHAPTER VIEW */
#header_chapter
{
    background-image: url(../images/chapter.jpg);
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 57px;
    margin-bottom: 20px;
}

.only_chapter
{
    width:80%;
    margin: auto;
    background-color:#EFE7DA;
    border: solid 3px #053C5E;
    margin-bottom: 20px;
    box-shadow: 4px -4px 5px 2px rgba(0, 0, 0, .3);
}

.only_chapter p
{
    background-color:#EFE7DA;
    margin-top:0px;
    margin-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
    font-family: 'Libre Baskerville', serif;
}

.comments_container
{
    width:80%;
    margin: auto;
    background-color:#EFE7DA;
    border: solid 3px #053C5E;
    margin-bottom: 20px;
    box-shadow: 4px -4px 5px 2px rgba(0, 0, 0, .3);
}

.comment
{
    background-color:#EFE7DA;
    margin-top:0px;
    margin-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
    border-top: solid 3px #053C5E;
    
    
}

#signal_comment
{
    float: right;
    font-size: 0.7vw;
    font-style: italic;
}

#signal_comment a:hover{
    color: #E55812;
}

.comment p
{
    
}

.post_comment, .post_chapter
{
    width:80%;
    margin: auto;
    text-align: center;
    background-color:#EFE7DA;
    margin-bottom: 50px;
    padding-bottom: 10px;
    border: solid 3px #053C5E;
    box-shadow: 4px -4px 5px 2px rgba(0, 0, 0, .3);
    
}

#author, #title, #image
{
    width: 20%;
    padding: 5px;
    margin-bottom: 10px;
}


#comment, #content
{
    width: 80%;
    padding: 5px;
    
}

#submit
{
    width: 20%;
    padding: 5px;
    margin-top: 10px;
    background-color: #053C5E;
    color: #EFE7DA;
}

#submit:hover
{
    color: #E55812;
}

/*ADMIN VIEW*/
#header_admin
{
    background-image: url(../images/admin.jpg);
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    
}

#title_box_admin
{
    background-color: #053C5E;
    box-shadow: 4px -4px 5px 2px rgba(0, 0, 0, .3);
    border: solid 3px #E55812;
    margin: auto;
    padding: 10px;
    text-align: center;
}

#title_box_admin h1
{
    color: #E55812;
}

#title_box_admin h2
{
    color: #FFF;
}

.admin_mode
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin_button
{
    width: 30%;
    background-color: #053C5E;
    box-shadow: 4px -4px 5px 2px rgba(0, 0, 0, .3);
    border: solid 3px #E55812;
    padding: 10px;
    margin-bottom: 20px;;
    color: #FFF;
    text-align: center;
}

.admin_button:hover
{
    color: #E55812;
    border-color: #FFF;
}

.admin_form
{
    background-color: #053C5E;
    box-shadow: 4px -4px 5px 2px rgba(0, 0, 0, .3);
    border: solid 3px #E55812;
    padding: 10px;
    margin-bottom: 50px;;
    color: #FFF;
    text-align: center;
}

.admin_form input#update
{
    margin-left: 40px;
    padding: 5px;
    background-color: #053C5E;
    color: #FFF;
}

.admin_form input#delete
{
    margin-left: 10px;
    padding: 5px;
    background-color: #053C5E;
    color: #FFF;
}

#content_text_area, #resume_text_area
{
    width: 90%;
    margin: auto;
}

.admin_form input#update:hover, .admin_form input#delete:hover
{
    color: #E55812
}

#resume_text_area
{
    margin-top: 16px;
}

.comment form p input#validate, .comment form p input#delete
{
    background-color: #053C5E;
    color: #FFF;
    padding: 5px;
}

.comment form p input#validate:hover, .comment form p input#delete:hover
{
    color: #E55812
}