/*ALL VIEWS*/
html, body
{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #BFBFBF;
}


/*MENU*/

nav
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #053C5E;
    font-size: 1vw;
    display: flex;
}

#logo
{
    display: block;
    width: 5vw;
    position: absolute;
    left: 5%;
    top: -200px;
    background-color: #BFBFBF;
    padding: 2px;
    border-radius: 50%;
    border: solid 3px #053C5E;
    box-shadow: 4px -4px 5px 2px rgba(0, 0, 0, .3);  
    z-index: 3;
    transition: all 3s ease;
}

#logo:hover
{
    border-color: #FFF;
}

#menu
{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 80%;
    padding: 0 15px 0 15px 0;
    align-items: center;
    margin: auto;
}

#menu li
{
    position:relative;
    background-color: #053C5E;   
}

#menu ul
{
    position:absolute;
    z-index: 2;
    max-height:0;
    overflow:hidden;
    transition: all 1s ease;
    padding: 0;   
}

#menu li:hover ul
{
    max-height:15vw;
}

#menu a
{
    color: #EFE7DA; 
    padding: 10px;
}

#menu > li:nth-child(3) > a:nth-child(1)
{
    padding: 0px 20px 0px 20px;
}

#menu li ul li
{
    list-style-type: none; 
    padding : 10px 0px 5px 0px;  
}

#ul_form
{
    left: -40px;
}

#li_form form 
{
    display: flex;
    flex-direction: column;
    padding: 0px 20px 10px 20px; 
}

#menu li ul li form p
{
    margin: 0px 0px 10px 0px;  
}

input#valid_button
{
    background-color: #053C5E;
    color: #FFF;
    padding: 5px 10px 5px 10px;
    font-size: 1vw;
}

#valid_button:hover{
    background-color: #E55812;
    color: #053C5E;
    cursor: pointer;
}

#menu li:hover li a, #menu li ul li form label
{
    color:#EFE7DA; 
}

#menu li:hover a, #menu li li:hover a
{
    color:#E55812;
}


/*FRONTEND VIEWS*/

#header
{
    background-image: url(../images/home.jpg);
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 20px;
}

#header_chapter
{
    background-image: url(../images/chapter.jpg);
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 20px;
}

#img_about
{
    display: block;
    margin:auto;
    margin-top: 50px;
    width: 1vw;
    transition: all 1s ease;
}

#h1_about
{
    text-align: center;
    margin-bottom: 50px;
    opacity: 0;
    transition: all 1s ease;
}

#title_box
{
    background-color: #BFBFBF;
    box-shadow: 4px -4px 5px 2px rgba(0, 0, 0, .3);
    border: solid 3px #053C5E;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: all 2s ease;
}

h1
{
    font-size: 2vw;
    color: #053C5E;
    margin: auto;
}

h2
{
    font-style: italic;
    font-size: 1.5vw;
    color: #E55812;
    margin: auto;
}

#hOne, #hTwo
{
    opacity: 0;
    transition: all 2s ease;
}

p{
    font-size: 1vw;
}

#intro
{
    width: 80%;
    text-align: center;
    color: #053C5E;
    background-color: #EFE7DA;
    box-shadow: 4px -4px 5px 2px rgba(0, 0, 0, .3);
    border: solid 3px #053C5E;
    margin: auto;
    margin-bottom: 20px;
    line-height: 1.5vw;
    padding-right: 5px;
    padding-left: 5px;
}

#text_center
{
    background-color: #EFE7DA;
    box-shadow: 4px -4px 5px 2px rgba(0, 0, 0, .3);
    border: solid 3px #053C5E;
    width: 20%;
    margin: auto;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
    color: #053C5E;
    text-transform: uppercase;
}

#text_center:hover
{
    background-color: #053C5E;
    color: #E55812;
}

h3
{
    background-color:#053C5E;
    color:#EFE7DA;
    font-size:1vw;
    margin: 0;
    text-align: center;
}

h3:hover
{
    color:#E55812;
}

h4
{
    background-color:#053C5E;
    color:#EFE7DA;
    font-size:1vw;
    margin-top: 0;
    margin-bottom:0;
    text-align: center;
}

h4:hover
{
    color:#E55812;
}

em
{
    font-size: 0.7vw;
}

a
{
    text-decoration: none;
    color: #053C5E;
}

#footer
{
    background-color: #053C5E;
    color: #EFE7DA;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#center_footer img
{
    width: 5vw;
    margin: 10px;
    transition: all .3s ease;
}

#center_footer img:hover
{
    border: solid #FFF 2px;
    border-radius: 10%;
}



.chapters_container
{
    width:80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.chapter
{
    background-color:#EFE7DA;
    border: solid 3px #053C5E;
    margin-bottom: 20px;
    overflow:visible;
    box-shadow: 4px -4px 5px 2px rgba(0, 0, 0, .3);
    
}

.image_text img
{
    max-width: 20%;
    float: left;
    margin-right: 5px;
}

.chapter p
{
    padding:5px;
    margin: 0;
    text-align: justify;
    font-family: 'Libre Baskerville', serif;
}



.only_chapter
{
    width:80%;
    margin: auto;
    background-color:#EFE7DA;
    border: solid 3px #053C5E;
    margin-bottom: 20px;
    box-shadow: 4px -4px 5px 2px rgba(0, 0, 0, .3);
}

.only_chapter p
{
    background-color:#EFE7DA;
    margin-top:0px;
    margin-bottom: 0;
    padding: 5px;
    text-align: justify;
    font-family: 'Libre Baskerville', serif;
}

.comments_container
{
    width:80%;
    margin: auto;
    background-color:#EFE7DA;
    border: solid 3px #053C5E;
    margin-bottom: 20px;
    box-shadow: 4px -4px 5px 2px rgba(0, 0, 0, .3);
}

.comment
{
    background-color:#EFE7DA;
    margin-top:0px;
    margin-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
    border-top: solid 3px #053C5E;   
}

#signal_comment
{
    float: right;
    font-size: 0.7vw;
    font-style: italic;
}

#signal_comment a:hover
{
    color: #E55812;
}

.post_comment, .post_chapter
{
    width:80%;
    margin: auto;
    text-align: center;
    background-color:#EFE7DA;
    margin-bottom: 50px;
    padding-bottom: 10px;
    border: solid 3px #053C5E;
    box-shadow: 4px -4px 5px 2px rgba(0, 0, 0, .3);
    
}

#author, #title, #image
{
    width: 20%;
    padding: 5px;
    margin-bottom: 10px;
}


#comment, #content
{
    width: 80%;
    padding: 5px;
    
}

#submit
{
    width: 20%;
    margin-top: 10px;
    background-color: #053C5E;
    color: #FFF;
    padding: 5px 15px 5px 15px;
    font-size: 1vw;
}

#submit:hover
{
    background-color: #E55812;
    color: #053C5E;
    cursor: pointer;
}



/*ADMIN VIEWS*/
#header_admin
{
    background-image: url(../images/admin.jpg);
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    
}

#title_box_admin
{
    background-color: #053C5E;
    box-shadow: 4px -4px 5px 2px rgba(0, 0, 0, .3);
    border: solid 3px #E55812;
    margin: auto;
    padding: 10px;
    text-align: center;
}

#title_box_admin h1
{
    color: #E55812;
}

#title_box_admin h2
{
    color: #FFF;
}

.admin_mode
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin_button
{
    width: 30%;
    background-color: #053C5E;
    box-shadow: 4px -4px 5px 2px rgba(0, 0, 0, .3);
    border: solid 3px #E55812;
    padding: 10px;
    margin-bottom: 20px;;
    color: #FFF;
    text-align: center;
    font-size: 1vw;
}

.admin_button:hover
{
    color: #E55812;
    border-color: #FFF;
}

.admin_form
{
    background-color: #053C5E;
    box-shadow: 4px -4px 5px 2px rgba(0, 0, 0, .3);
    border: solid 3px #E55812;
    padding: 10px;
    margin-bottom: 50px;;
    color: #FFF;
    text-align: center;
}

.admin_form input#update
{
    margin-left: 20px;
    background-color: #053C5E;
    color: #FFF;
    padding: 5px 15px 5px 15px;
    font-size: 1vw;
    
    /*margin-top: 10px;*/
}

.admin_form input#delete
{
    margin-left: 10px;
    background-color: #053C5E;
    color: #FFF;
    padding: 5px 15px 5px 15px;
    font-size: 1vw;
}

#content_text_area, #resume_text_area
{
    width: 90%;
    margin: auto;
}

.admin_form input#update:hover, .admin_form input#delete:hover
{
    background-color: #E55812;
    color: #053C5E;
    cursor: pointer; 
}

select  
{
    background-color: #E55812;
    color: #053C5E;
    padding: 5px 15px 5px 15px;
    font-size: 1vw;
}

option
{
    background-color: #053C5E;
    color: #FFF;
}

#resume_text_area
{
    margin-top: 16px;
}

.comment form p input#validate, .comment form p input#delete
{
    background-color: #053C5E;
    color: #FFF;
    padding: 5px 15px 5px 15px;
    font-size: 1vw;
}

.comment form p input#validate:hover, .comment form p input#delete:hover
{
    background-color: #E55812;
    color: #053C5E;
    cursor: pointer;
}

/*ERROR VIEWS*/

#header_error
{
    margin-top: 50px;
    margin-bottom: 50px;
}

#header_error img
{
    display: block;
    margin: auto;
    width: 15vw;
    
}

#error_message
{   
    background-color:#053C5E;
    color:#FFF;
    font-size:1vw;
    text-align: center;
    padding: 50px;
    margin-bottom: 20px;
    
}

#error_message form input#no, #error_message form input#yes
{
    background-color: #053C5E;
    color: #FFF;
    padding: 10px 25px 10px 25px;
    margin: 10px;
    font-size: 1vw;
}

#error_message form input#no:hover, #error_message form input#yes:hover
{
    background-color: #E55812;
    color: #053C5E;
    cursor: pointer;
}

#error_message h3
{
    
    color: #FFF;
}

#error_message h3:hover
{
    color: #FFF;
}

.error_mode
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error_button
{
    width: 30%;
    background-color: #053C5E;
    box-shadow: 4px -4px 5px 2px rgba(0, 0, 0, .3);
    border: solid 3px #E55812;
    padding: 10px;
    margin-bottom: 20px;
    color: #FFF;
    text-align: center;
}

.error_button:hover
{
    color: #E55812;
    border-color: #FFF;
}

@media all and (max-width: 1024px){
    em, #signal_comment
    {
        font-size: 1vw;
    }
    nav, p, h3, h4, #submit, .admin_form input#update, .admin_form input#delete, .comment form p input#validate, .comment form p input#delete, #error_message, #error_message form input#no, #error_message form input#yes, .admin_button, input#valid_button, select, option
    {
        font-size: 1.5vw;
    }
    h1
    {
        font-size: 2.5vw;
    }
    h2
    {
        font-size: 2vw;
    }
    #logo
    {
        width: 7vw;
    }
    #text_center
    {
        width: 30%;
    }
    #intro
    {
        line-height: 2vw;
    }
    .admin_button, .error_button
    {
        width: 40%;
    }
    #header, #header_chapter,#header_admin
    {
        height: 300px;
    }
    #error_message
    {
        padding: 30px;
    }
    #header_error img
    {
        width: 20vw;
    }
    #menu li:hover ul
    {
        max-height:20vw;
    }   
    .image_text img
    {
        max-width: 30%;
    }
    #h1_about
    {
        margin-bottom: 30px;
    }
}

@media all and (max-width: 768px){ 
    em, #signal_comment
    {
        font-size: 1.5vw;
    }
    p, h3, h4, #submit, .admin_form input#update, .admin_form input#delete, .comment form p input#validate, .comment form p input#delete, #error_message, #error_message form input#no, #error_message form input#yes, .admin_button, input#valid_button, select, option
    {
        font-size: 2.5vw;
    }
    nav
    {
        font-size: 2vw;
    }
    h1
    {
        font-size: 3vw;
    }
    h2
    {
        font-size: 2.5vw;
    }
    #logo
    {
        width: 9vw;
    }
    #text_center
    {
        width: 50%;
    }
    #intro
    {
        line-height: 3vw;
    }
    .admin_button, .error_button
    {
        width: 50%;
    }
    #header, #header_chapter
    {
        height: 150px;
        margin-top: 40px;
    }
    #header_admin
    {
       height: 150px; 
    }
    #error_message
    {
        padding: 10px;
    }
    #header_error img
    {
        width: 30vw;
    }
    nav 
    {
        height: 40px;
    }
     #menu li:hover ul
    {
        max-height:50vw;
    }   
    #ul_form
    {
        left: -150px;
    }
    #intro, .chapters_container, .only_chapter, .comments_container, .post_comment, .post_chapter, #comment, #content{
        width: 90%;
    }
     .image_text img
    {
        max-width: 40%;
    }
    #center_footer img
    {
        margin: 5px;
    }
    #h1_about
    {
        margin-bottom: 20px;
    }
    .admin_form input#update
    {
        margin-left: 0;
        margin-top: 10px;
    }
    select
    {
        display: flex;
        margin: auto;
        margin-top: 5px;
    }
}

