/*GENERAL*/
html, body
{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #BFBFBF;
}

#title_box
{
    background-color: #594035;
    margin: auto;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

h1
{
   font-size: 2vw;
    color: #F2E1DA;
    margin: auto;
    
}

h2
{
    font-style: italic;
    font-size: 1.5vw;
    color: #F4AF93;
    margin: auto;
}

#intro
{
    width: 80%;
    margin: auto;
    text-align: center;
}

body > p:nth-child(3)
{
    text-align: center;
}

h3
{
    background-color:#594035;
    color:#F2E1DA;
    font-size:1vw;
    margin: 0;
    text-align: center;
}

h4
{
    width:80%;
    margin: auto;
    margin-top: 0;
    background-color:#F4AF93;
    color:#594035;
    margin-bottom:0px;
    text-align: center;
}

em
{
    font-size: 0.7vw;
}

a
{
    text-decoration: none;
    color: #594035;
}

footer
{
    height: 100px;
    text-align: center;
    background-color: #594035;
    color: #F2E1DA;
}

/*HOME*/
#header
{
    background-image: url(../images/home.jpg);
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    
}

.chapters_container
{
    width:80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.chapter
{
    background-color:#F2E1DA;
    margin-bottom: 20px;
    overflow:visible;
    
}

.image_text
{
    
}

.image_text img
{
    max-width: 20%;
    float: left;
    margin-right: 5px;
}

.chapter p
{
    padding-right: 5px;
    padding-left: 5px;
    margin: 0;
    text-align: justify;
    font-family: 'Libre Baskerville', serif;
}

/*CHAPTER VIEW */
#header_chapter
{
    background-image: url(../images/chapter.jpg);
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.only_chapter
{
    width:80%;
    margin: auto;
}

.only_chapter p
{
    background-color:#F2E1DA;
    margin-top:0px;
    margin-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
    font-family: 'Libre Baskerville', serif;
}

.comment
{
    width:80%;
    margin: auto;
    
}

#signal_comment
{
    float: right;
    font-size: 0.7vw;
    font-style: italic;
    
    
}

.comment p
{
    background-color:#F2E1DA;
    margin-top:0px;
    margin-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
    border-bottom: 2px solid #F4AF93;
}

.post_comment, .post_chapter
{
    width:80%;
    margin: auto;
    text-align: center;
    background-color:#F2E1DA;
    margin-bottom: 50px;
    padding-bottom: 10px;
    
}

#author, #title, #image
{
    width: 20%;
    padding: 5px;
    margin-bottom: 10px;
}

.post_chapter > form:nth-child(1) > div:nth-child(4)
{
    margin-top: 10px;
}

#comment, #content
{
    width: 80%;
    padding: 5px;
    
}

#submit
{
    width: 20%;
    padding: 5px;
    margin-top: 10px;
    background-color: #594035;
    color: #F2E1DA;
}

/*ADMIN VIEW*/
#header_admin
{
    background-image: url(../images/admin.jpg);
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
}

#admin_link
{
    position: absolute;
    
    background-color: #594035;
    margin: auto;
    padding: 20px;
    border-radius: 25px;
}

#admin_link a, #admin_link label
{
    color: #F4AF93;
}

#admin_mode
{
    display: flex;
    justify-content: space-around;
}

.admin_button
{
    background-color: #594035;
    color: #F2E1DA;
    width: 20%;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
    
}

a.admin_button:hover
{
 /*POURQUOI CA MARCHE PAS!!!!!!!!!!!!!!!!!!!!!!*/
}